body {
    font-family: 'Hammersmith One', sans-serif;
    color: #444;
}

.centered {
    text-align: center;
}

.faded {
    opacity: 0.8;
    -webkit-transition: opacity .30s ease-in-out;
    -moz-transition: opacity .30s ease-in-out;
    -ms-transition: opacity .30s ease-in-out;
    -o-transition: opacity .30s ease-in-out;
    transition: opacity .30s ease-in-out;
}

.faded:hover {
    opacity: 1;
    -webkit-transition: opacity .30s ease-in-out;
    -moz-transition: opacity .30s ease-in-out;
    -ms-transition: opacity .30s ease-in-out;
    -o-transition: opacity .30s ease-in-out;
    transition: opacity .30s ease-in-out;
}

.prettyprint {
    text-align: left;
    border-radius: 8px;
    background-color: #494949;
    padding: 20px !important;
    font-size: 32px;
}

.code {
    width: 1160px;
}